<div id="<%= dom_id article %>" class="article">
  <p><%= article.title %></p>
  <p><%= article.description %></p>
  <p>
    <div>
      <%= button_to 'Like', like_article_path(123456) %>
    </div>
    <div class="like_count">0 likes</div>
  </p>
</div>
